<link href="datalog/datalog_main.css" rel="stylesheet" type="text/css" />

<div ng-controller="DatalogERPSearchController">
  <div class="answer-modal answer-download" id="answer-download" aria-modal="true">
    <answer-exportes></answer-exportes>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 answer-search-left-wapper">
        <div class="answer-search-item">

          <div class="answer-search-title answer-cursor-pointer" ng-click="searchReset('basic')">기본 조건 <span class="answer-ml5" style="color:darkgreen;font-size:12px;"><i class="fa fa-refresh"></i></span></div>


          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="dateSearch" style="font-size:12px;margin-bottom:0px;">날짜</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="dateSearch" ng-model="isDateSearch">
                <label class="custom-control-label" for="dateSearch"></label>
              </div>
            </div>

            <div ng-show="isDateSearch" class="col-12 answer-mt5">
              <div class="input-group date" id="startDatePicker" data-target-input="nearest">
                <input type="text" class="form-control answer-form-input-text-small datetimepicker-input" data-target="#startDatePicker" data-toggle="datetimepicker" ng-model="searchStartDate" id="searchStartDate" />
                <div class="input-group-append answer-form-btn-small-append" data-target="#startDatePicker" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>

            <div ng-show="isDateSearch" class="col-12">
              <div class="input-group date" id="endDatePicker" data-target-input="nearest">
                <input type="text" class="form-control answer-form-input-text-small datetimepicker-input" data-target="#endDatePicker" data-toggle="datetimepicker" ng-model="searchEndDate" id="searchEndDate" />
                <div class="input-group-append answer-form-btn-small-append" data-target="#endDatePicker" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div class="answer-search-title answer-cursor-pointer" ng-click="searchReset('search')">검색 조건 <span class="answer-ml5" style="color:darkgreen;font-size:12px;"><i class="fa fa-refresh"></i></span></div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="partnerSearch" style="font-size:12px;margin-bottom:0px;">거래처</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="partnerSearch" ng-model="isPartnerSearch">
                <label class="custom-control-label" for="partnerSearch"></label>
              </div>
            </div>

            <div ng-show="isPartnerSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpPartnerResult"
                  selected-model="searchPartnerList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="partnerSearchTexts"
                  events="partnerSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="itemSearch" style="font-size:12px;margin-bottom:0px;">품목</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="itemSearch" ng-model="isItemSearch">
                <label class="custom-control-label" for="itemSearch"></label>
              </div>
            </div>

            <div ng-show="isItemSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpItemResult"
                  selected-model="searchItemList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="itemSearchTexts"
                  events="itemSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="storeSearch" style="font-size:12px;margin-bottom:0px;">출하창고</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="storeSearch" ng-model="isStoreSearch">
                <label class="custom-control-label" for="storeSearch"></label>
              </div>
            </div>

            <div ng-show="isStoreSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpStoreResult"
                  selected-model="searchStoreList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="storeSearchTexts"
                  events="storeSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="salesGroupSearch" style="font-size:12px;margin-bottom:0px;">영업그룹</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="salesGroupSearch" ng-model="isSalesGroupSearch">
                <label class="custom-control-label" for="salesGroupSearch"></label>
              </div>
            </div>

            <div ng-show="isSalesGroupSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpSalesGroupResult"
                  selected-model="searchSalesGroupList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="salesGroupSearchTexts"
                  events="salesGroupSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>


          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="classLSearch" style="font-size:12px;margin-bottom:0px;">대분류</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="classLSearch" ng-model="isClassLSearch">
                <label class="custom-control-label" for="classLSearch"></label>
              </div>
            </div>

            <div ng-show="isClassLSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpClassLResult"
                  selected-model="searchClassLList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="classLSearchTexts"
                  events="classLSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>


          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="classMSearch" style="font-size:12px;margin-bottom:0px;">중분류</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="classMSearch" ng-model="isClassMSearch">
                <label class="custom-control-label" for="classMSearch"></label>
              </div>
            </div>

            <div ng-show="isClassMSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpClassMResult"
                  selected-model="searchClassMList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="classMSearchTexts"
                  events="classMSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="classSSearch" style="font-size:12px;margin-bottom:0px;">소분류</label>
            </div>
            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="classSSearch" ng-model="isClassSSearch">
                <label class="custom-control-label" for="classSSearch"></label>
              </div>
            </div>

            <div ng-show="isClassSSearch" class="col-12 answer-mt5">
              <div class="row" style="padding-left:10px;">
                <div
                  ng-dropdown-multiselect=""
                  options="erpClassSResult"
                  selected-model="searchClassSList"
                  checkboxes="true"
                  extra-settings="selectSearchSetting"
                  translation-texts="classSSearchTexts"
                  events="classSSearchEvent"
                  style="width:100%;"
                ></div>
              </div>
            </div>
          </div>



          <!-- <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="partnerCodeSearch" style="font-size:12px;margin-bottom:0px;">거래처코드</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="partnerCodeSearch" ng-model="isPartnerCodeSearch">
                <label class="custom-control-label" for="partnerCodeSearch"></label>
              </div>
            </div>

            <div ng-show="isPartnerCodeSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchPartnerCode" placeholder="거래처코드를 입력해 주세요." />
            </div>
          </div>



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="partnerNameSearch" style="font-size:12px;margin-bottom:0px;">거래처</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="partnerNameSearch" ng-model="isPartnerNameSearch">
                <label class="custom-control-label" for="partnerNameSearch"></label>
              </div>
            </div>

            <div ng-show="isPartnerNameSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchPartnerName" placeholder="거래처이름을 입력해 주세요." />
            </div>
          </div>



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="itemCodeSearch" style="font-size:12px;margin-bottom:0px;">품목코드</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="itemCodeSearch" ng-model="isItemCodeSearch">
                <label class="custom-control-label" for="itemCodeSearch"></label>
              </div>
            </div>

            <div ng-show="isItemCodeSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchItemCode" placeholder="품목코드를 입력해 주세요." />
            </div>
          </div>



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="itemNameSearch" style="font-size:12px;margin-bottom:0px;">품목명</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="itemNameSearch" ng-model="isItemNameSearch">
                <label class="custom-control-label" for="itemNameSearch"></label>
              </div>
            </div>

            <div ng-show="isItemNameSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchItemName" placeholder="품목명를 입력해 주세요." />
            </div>
          </div> -->



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="shipingAmountSearch" style="font-size:12px;margin-bottom:0px;">출하수량</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="shipingAmountSearch" ng-model="isShipingAmountSearch">
                <label class="custom-control-label" for="shipingAmountSearch"></label>
              </div>
            </div>

            <div ng-show="isShipingAmountSearch" class="col-12 answer-mt5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchShipingAmountFrom" placeholder="출하수량을 입력해 주세요." />
                </div>
                <span class="input-group-text" style="height:27px;padding:0px 15px;">~</span>
                <div class="input-group-append">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchShipingAmountTo" placeholder="출하수량을 입력해 주세요." />
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="shipingStoreSearch" style="font-size:12px;margin-bottom:0px;">출하창고</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="shipingStoreSearch" ng-model="isShipingStoreSearch">
                <label class="custom-control-label" for="shipingStoreSearch"></label>
              </div>
            </div>

            <div ng-show="isShipingStoreSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchShipingStore" placeholder="출하창고를 입력해 주세요." />
            </div>
          </div>



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="salesGroupSearch" style="font-size:12px;margin-bottom:0px;">영업그룹명</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="salesGroupSearch" ng-model="isSalesGroupSearch">
                <label class="custom-control-label" for="salesGroupSearch"></label>
              </div>
            </div>

            <div ng-show="isSalesGroupSearch" class="col-12 answer-mt5">
              <input type="text" class="form-control answer-form-input-text-small answer-form-input-w80" ng-model="searchSalesGroup" placeholder="영업그룹명을 입력해 주세요." />
            </div>
          </div> -->



          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="wonPriceSearch" style="font-size:12px;margin-bottom:0px;">원화금액</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="wonPriceSearch" ng-model="isWonPriceSearch">
                <label class="custom-control-label" for="wonPriceSearch"></label>
              </div>
            </div>

            <div ng-show="isWonPriceSearch" class="col-12 answer-mt5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchWonPriceFrom" placeholder="원화금액을 입력해 주세요." />
                </div>
                <span class="input-group-text" style="height:27px;padding:0px 15px;">~</span>
                <div class="input-group-append">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchWonPriceTo" placeholder="원화금액을 입력해 주세요." />
                </div>
              </div>
            </div>
          </div>

          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="vatSearch" style="font-size:12px;margin-bottom:0px;">부가세</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="vatSearch" ng-model="isVATSearch">
                <label class="custom-control-label" for="vatSearch"></label>
              </div>
            </div>

            <div ng-show="isVATSearch" class="col-12 answer-mt5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchVATFrom" placeholder="부가세를 입력해 주세요." />
                </div>
                <span class="input-group-text" style="height:27px;padding:0px 15px;">~</span>
                <div class="input-group-append">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchVATTo" placeholder="부가세를 입력해 주세요." />
                </div>
              </div>
            </div>
          </div>


          <div class="row answer-search-item-hr">
            <div class="col-5 text-right">
              <label for="totalSearch" style="font-size:12px;margin-bottom:0px;">합계</label>
            </div>

            <div class="col-7">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="totalSearch" ng-model="isTotalSearch">
                <label class="custom-control-label" for="totalSearch"></label>
              </div>
            </div>

            <div ng-show="isTotalSearch" class="col-12 answer-mt5">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchTotalFrom" placeholder="합계를 입력해 주세요." />
                </div>
                <span class="input-group-text" style="height:27px;padding:0px 15px;">~</span>
                <div class="input-group-append">
                  <input type="number" class="form-control answer-form-input-text-small answer-form-input-p80" ng-model="searchTotalTo" placeholder="합계를 입력해 주세요." />
                </div>
              </div>
            </div>
          </div>




        </div>






        <div class="row answer-search-bottom">
          <div class="col-12 text-center">
            <button class="btn btn-primary answer-form-btn-small" ng-click="searchTotalLog()" ng-show="btnFlag=='ready'" style="margin-left:10px;">
              <i class="fa fa-search" aria-hidden="true"></i> 검색
            </button>
            <button class="btn btn-danger answer-form-btn-small" ng-click="searchStop()" ng-show="btnFlag=='searching'" style="margin-left:5px;">
              <i class="fa fa-search" aria-hidden="true"></i> 중지
            </button>

            <!-- <button class="btn btn-success answer-form-btn-small" ng-click="logSearchDownload()" style="margin-left:10px;">
              <i class="fa fa-download" aria-hidden="true"></i> 다운로드
            </button> -->

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success answer-form-btn-small">
                  <i class="fa fa-download" aria-hidden="true"></i> 다운로드
                </button>
                <div class="btn-group" role="group">
                  <button id="downloadReport" type="button" class="btn btn-success answer-form-btn-small dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <div class="dropdown-menu fade" aria-labelledby="downloadReport" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="#" class="dropdown-item" ng-click="logSearchDownload()">조회목록</a>
                    <a href="#" class="dropdown-item" ng-click="saveReportExcel()">통계자료</a>
                  </div>
                </div>
            </div>

            <!-- <button class="btn btn-danger answer-form-btn-small" ng-click="searchReset()" style="margin-left:10px;">
              <i class="fa fa-refresh" aria-hidden="true"></i> 초기화
            </button> -->
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="card-body">
          <div class="row" style="padding: 0px 20px;">
            <div class="col-4">
              <div class="row">
                {{logSearchTotalCount | number}} 건이 검색 되었습니다. [ {{ processTime }} ]
              </div>
            </div>

            <div class="col-8">
              <div class="row" style="float: right">
                <button class="btn btn-outline-primary answer-form-btn-small answer-page-first" ng-click="logSearchPageChanged(1)">처음</button>
                <div class="pagination">
                  <a href="#" ng-click="logSearchJumpPrev()"><i class="fa fa-angle-double-left"></i></a>
                  <a href="#" ng-click="logSearchPagePrev()"><i class="fa fa-angle-left"></i></a>

                  <a href="#" ng-repeat="number in logSearchPaginationArray" ng-class="logSearchCurrentPage==number ? 'active' : ''" ng-click="logSearchPageChanged(number)">{{number}}</a>

                  <a href="#" ng-click="logSearchPageNext()"><i class="fa fa-angle-right"></i></a>
                  <a href="#" ng-click="logSearchJumpNext()"><i class="fa fa-angle-double-right"></i></a>
                </div>
                <button class="btn btn-outline-primary answer-form-btn-small answer-page-last" ng-click="logSearchPageChanged(logSearchPaginationCount)">마지막 <span>({{logSearchPaginationCount | number}} 쪽)</span></button>

                <input type="number" min="1" max="{{logSearchPaginationCount}}" class="form-control answer-form-input-text-small answer-form-input-p50 answer-mr5 answer-ml5" ng-class="pageJumpNumber > logSearchPaginationCount ? 'answer_event_str_error' : ''"
                  ng-model="logSearchJumpNumber" placeholder="1">
                <button class="btn btn-primary btn-sm" ng-click="logSearchPageChanged(logSearchJumpNumber)">이동</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row card-content" id="logSearchPanel">
          <div class="col-md-12">
            <div class="card card-main" style="padding: 0px; margin-bottom:10px;">
              <div class="table_container">
                <table class="table table-condensed table-hover" style="width:100%">
                  <thead class="answer-table-header">
                    <tr class="table-primary">
                      <th class="text-center" ng-repeat="fItem in statSearchField">{{fItem}}</th>
                    </tr>
                  </thead>
                  <tbody class="answer-table-body">
                    <tr ng-repeat="sItem in statSearchResult track by $index">
                      <td class="text-center" ng-repeat="val in statSearchField track by $index">
                        {{sItem[val] | chkNumber}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card card-main card-search" style="padding: 0px">
              <div class="table_container table-fix-head" id="mainTable">
                <table class="table table-condensed table-hover" style="width:100%" rz-table="" rz-mode="resizeMode" id="logList">
                  <thead class="answer-table-header">
                    <tr class="table-primary">
                      <th class="text-left" ng-repeat="val in logSearchFields track by $index" style="min-width:80px;width:{{tdWidth}}px;top:-1px;">
                        <!-- <i class="answer-mr5 field_border" ng-class="selectFieldClass(val.val)"></i> -->
                        {{val.key}}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="answer-table-body">
                    <tr ng-show="logSearchFields.length == 0">
                      <td colspan="{{logSearchFields.length}}" style="text-align:center;">검색 된 로그데이터가 없습니다.</td>
                    </tr>
                    <tr ng-repeat="item in logSearchResult track by $index">
                      <!-- --<td class="text-left" ng-repeat="val in logSearchFields track by $index" ng-right-click="getFieldInfo(item, val)" menu-items="subMenuList">-->
                      <td class="text-left" ng-repeat="val in logSearchFields track by $index">
                        {{item[val.key] | chkNumber}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
</div>
